.showOutField{
    margin: 1%;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #999;
    table-layout: fixed;
    width: 98%
}
.showOutField caption {
    background: blue;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
    word-break: normal;
}
.showOutField td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
    word-break: normal;
    border-color: #999;
    color: #444;
    /*background-color: #F7FDFA;*/
}
.tableDiv{
    float: left;
}